/**
 * G Nav
 */

.gNav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  @include row(space-between);
  width: 100%;
  padding: 0 space();
  transition: background-color 0.25s ease-in-out;

  &__siteBrand {
    flex: 0 0 auto;
    width: 9rem;
    margin: 0;
    font-size: map-get($fontSizes, "nr");

    @media (min-width: breakpoint("md")) {
      width: 18rem;
    }
  }

  &__primaryMenu {
    @include listUnstyled();
    display: none;
    margin: 0;

    @media (min-width: breakpoint("md")) {
      @include row(space-between);
      gap: space(3);
      flex: 0 0 auto;
    }
  }

  &__menuItem {
    flex: 0 0 auto;
    margin: 0;

    a {
      color: themeColor("lightest");
      transition: color 0.25s ease-in-out;

      &:hover {
        opacity: 0.85;
      }
    }

    &--button {
      a {
        @include button("primaryLight", 10.5rem, space(4));
      }
    }
  }

  &:hover, &--active {
    @media (min-width: breakpoint("md")) {
      background-color: themeColor("lightest");

      .gNav__menuItem:not(.gNav__menuItem--button) a {
        color: themeColor("darkest");;
      }
    }
  }
}
